:root {
    --color-bg: #131010;
    --color-text: rgba(254, 243, 199, 0.9); 
    --color-text-muted: #e7e5e4;
    --color-amber-main: #f59e0b; 
    --color-amber-dark: #b45309; 
    --color-stone-bg: rgba(28, 25, 23, 0.8);
    --color-stone-border: #292524; 
    --color-stone-text: #a8a29e; 
  }
  
  .title-font {
    font-family: 'Cinzel', Georgia, 'Times New Roman', serif;
  }

  main {
    background-color:#131010c2; /* This will prevent the Unity particles from overpowering the slide text */
  }